/* font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden; /* Menghilangkan kemampuan geser horizontal */
  overflow-y: scroll; /* Membuat halaman hanya dapat digulirkan secara vertikal */
}
.navbar {
  position: sticky !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.navbar-brand img {
  margin-right: 2px !important; /* Atur jarak antara logo dan teks */
}
.navbar-brand {
  font-family: "Poppins", sans-serif !important;
  color: #ffeb88 !important;
  font-weight: 600 !important;
  margin-top: -85rem !important;
  margin-left: 1rem !important;
  display: flex !important;
  align-items: center !important;
}

.search-container {
  margin-top: -85rem !important;
  margin-left: 4rem !important;
  display: flex !important;
  align-items: center !important;
  flex-grow: 1 !important;
  justify-content: center !important;
}

.search-input {
  color: white !important;
  margin-top: 6px !important;
  background-color: rgba(255, 255, 255, 0);
  outline: none !important;
  flex: 1 !important;
  width: 180px !important; /* Reducing the width */
  height: 37px !important;
  padding: 0 6px !important; /* Adjusting the padding */
  border-radius: 10px !important;
  border: 1px solid rgb(255, 255, 255) !important; /* Menambah border biru */
}

.search-icon {
  cursor: pointer;
  color: #ffde59 !important;
  margin-left: 50rem !important;
}

.search-container i {
  margin-top: 8px !important;
  margin-left: -52rem !important;
}

.search-and-links {
  display: flex !important;
  align-items: center !important;
}

.links {
  cursor: pointer;
  margin-top: -85rem !important;
  margin-left: 47rem !important;
  display: flex !important;
  gap: 40px !important;
}

.links a {
  text-decoration: none !important;
  font-family: "Poppins", sans-serif !important;
  color: #ffeb88 !important;
}

.carousel-caption h1 {
  color: #ffde59;
  margin-top: -27rem !important;
  margin-left: -27rem !important;
  font-size: 3rem !important;
}

.carousel-caption p {
  color: #ffde59;
  margin-left: -4rem !important;
  text-align: left !important;
  font-size: 18px !important;
  line-height: 1.2 !important; /* Mengatur jarak antar baris agar terlihat teratur */
}

.icon-container {
  width: fit-content; /* agar kontainer hanya selebar isinya */
  margin-left: -3rem;
}

.bx {
  color: #ffde36;
  font-size: 90px; /* Ubah ukuran ikon sesuai kebutuhan */
  display: block; /* Membuat ikon menjadi block element */
  float: left; /* Menggunakan float untuk menyusun ikon */
  margin-right: 20px; /* Memberi ruang antara ikon */
}

.homemin {
  display: none;
  margin-top: -1084px;
  margin-left: 27rem;
}

.carousel-control-prev,
.carousel-control-prev-icon,
.carousel-control-next,
.carousel-control-next-icon {
  width: auto; /* agar lebar tombol disesuaikan dengan isi */
  padding: 0; /* Hapus padding yang ada */
  margin: 0; /* Hapus margin yang ada */
}

.carousel.slide .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

/* awan */

.awankiri {
  position: absolute;
  top: 33rem;
  left: 0;
  /* Sesuaikan dengan ukuran dan posisi yang diinginkan */
  z-index: 999; /* Agar foto tampil di atas konten lainnya */
}

.awankanan {
  position: absolute;
  top: 32rem;
  right: 0;
  /* Sesuaikan dengan ukuran dan posisi yang diinginkan */
  z-index: 999; /* Agar foto tampil di atas konten lainnya */
}

.kertas {
  margin-top: -1rem;
}

.kidsvoice {
  margin-top: -46rem;
  margin-left: 157px;
}

.komen {
  height: 30rem;
  margin-top: -10rem;
  margin-left: -7rem;
}

.h1chi {
  font-family: "Poppins", sans-serif;
  color: #ffd25e;
  -webkit-text-stroke: 2px rgb(176, 70, 0);
  font-size: 50px;
  font-weight: bold;
  margin-top: -24rem;
  margin-left: 31rem;
}

.pchi {
  font-family: "Poppins", sans-serif;
  color: #ffd25e;
  -webkit-text-stroke: 2px rgb(176, 70, 0);
  font-size: 31px;
  font-weight: bold;
  margin-left: 31rem;
}

.text-box {
  color: white;
}

.buttonkid {
  margin-top: -60px;
  margin-left: -1rem;
}

.buttonkids {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  border: none;
  background-color: #d61515;
  box-shadow: 0 2px 0 2px #7f0500;
  margin-left: 40rem;
  padding: 10px 23px;
}

.speaker {
  height: 30rem;
  margin-top: -14rem;
  margin-left: 18rem;
}

.speakerd {
  height: 33rem;
  margin-top: -4rem;
  margin-left: 16rem;
}

.h1asp {
  font-family: "Poppins", sans-serif;
  color: #ffd25e;
  -webkit-text-stroke: 2px rgb(176, 70, 0);
  font-size: 50px;
  font-weight: bold;
  margin-top: -24rem;
  margin-left: -16rem;
}

.pasp {
  font-family: "Poppins", sans-serif;
  color: #ffd25e;
  -webkit-text-stroke: 2px rgb(176, 70, 0);
  font-size: 31px;
  font-weight: bold;
  margin-right: 22rem;
  margin-left: -16rem;
}

.text-box-asp {
  color: white;
}

.buttonkidasp {
  margin-top: -59px;
  margin-left: -1rem;
}

.buttonkidsasp {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  border: none;
  background-color: #d61515;
  box-shadow: 0 2px 0 2px #7f0500;
  margin-left: 10rem;
  padding: 10px 23px;
}

.footercl {
  margin-top: -5rem;
  margin-bottom: -2rem;
  width: 80rem;
  height: 23rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.pass {
  font-family: "Onest", sans-serif;
  color: white;
  letter-spacing: 3px;
  margin-top: -10rem;
  margin-left: 60rem;
}

input[type="password"] {
  width: 200px;
  padding: 8px;
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 10px;
  margin-left: 60rem;
  margin-top: 10px;
}

.butfot {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  width: 5rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  background-color: #d61515;
  box-shadow: 0 2px 0 2px #7f0500;
  color: #fff;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 60rem;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.icon-footer {
  display: flex;
  justify-content: flex-start;
  margin-left: -64em;
  flex-direction: column-reverse; /* Membalikkan urutan elemen dalam flexbox */
  align-items: flex-end;
  color: white; /* Warna teks */
  padding: 20px;
  margin-top: 105px;
  bottom: 0;
  left: 1rem;
  width: 100%;
}
footer h3 {
  font-family: "Onest", sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  color: white;
  margin-top: -153px;
  margin-left: 2rem;
}
.contact-icons {
  display: flex;
  align-items: center;
}

.icon-link i {
  margin-left: 1px;
  margin-top: -7rem;
  color: white; /* Warna ikon */
  border: 2px solid white; /* Border putih dengan ketebalan 2px */
  border-radius: 50%; /* Membuat border menjadi bulat */
  font-size: 30px; /* Ukuran ikon */
  padding: 4px; /* Memberikan ruang antara ikon dan border */
}

/* Untuk ikon Instagram */
.bx.bxl-instagram {
  color: rgb(0, 0, 0);
  background-color: white; /* Atur latar belakang menjadi putih */
  padding: 5px; /* Memberikan sedikit ruang di sekitar ikon */
  border-radius: 50%; /* Membuat ikon menjadi bulat */
}

/* Untuk ikon Facebook */
.bx.bxl-facebook {
  color: rgb(0, 0, 0);
  background-color: white; /* Atur latar belakang menjadi putih */
  padding: 5px; /* Memberikan sedikit ruang di sekitar ikon */
  border-radius: 50%; /* Membuat ikon menjadi bulat */
}

/* break points */

@media screen and (max-width: 768px) {
  .carousel-caption h1 {
    font-weight: bold !important;
    margin-top: -190px !important; /* Atur posisi teks h1 di atas indikator */
    margin-left: -86px !important; /* Atur margin kiri agar teks rata kiri */
    text-align: center; /* Pusatkan teks */
    font-size: 30px !important; /* Ukuran teks h1 yang lebih kecil */
    width: 100%; /* Lebar konten */
    left: 0; /* Posisi horizontal dari konten */
    transform: translateX(0); /* Reset posisi horizontal */
    position: absolute; /* Menggunakan posisi absolut untuk pengaturan yang lebih tepat */
    top: 50%; /* Posisikan ke bagian tengah vertikal */
    transform: translateY(
      -50%
    ); /* Geser ke atas sebesar setengah dari tinggi elemen */
  }

  .carousel-caption p {
    font-size: 18px !important;
    line-height: 1.2 !important;
    bottom: 6rem !important; /* Atur posisi teks p di bawah indikator */
    margin-left: -10px !important; /* Atur margin kiri agar teks rata kiri */
    text-align: left; /* Pusatkan teks */
    font-size: 12px; /* Ukuran teks p yang lebih kecil */
    width: 100%; /* Lebar konten */
    left: 0; /* Posisi horizontal dari konten */
    transform: translateX(0); /* Reset posisi horizontal */
    position: absolute; /* Menggunakan posisi absolut untuk pengaturan yang lebih tepat */
    bottom: 10px; /* Geser ke atas sejauh 10px dari bawah */
  }

  .icon-container i {
    font-size: 20px !important; /* Ukuran ikon yang lebih kecil */
    margin-top: 5px; /* Jarak atas ikon yang lebih kecil */
  }
}

/* Carousel Hero */
#hero {
  width: 100%;
  height: 70vh;
  background-color: rgba(31, 38, 39, 0.8);
  overflow: hidden;
  position: relative;
  padding: 0;
  margin-top: 114px;
}

#hero .carousel-item {
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#hero .carousel-item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .carousel-content {
  text-align: center;
}

#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#hero p {
  width: 80%;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .carousel-indicators li {
  list-style-type: none;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 4px;
  transition: ease-in;
  opacity: 0.7;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background-color: #01b1d7;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 5px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  background: #01b1d7;
  animation-delay: 0.8s;
}

#hero .btn-get-started:hover {
  background: #019cbe;
}

@media (max-width: 768px) {
  #hero {
    height: 90vh;
  }

  #hero .carousel-item {
    height: 90vh;
  }

  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 150vh;
  }

  #hero .carousel-item {
    height: 150vh;
  }
}
/* Carousel Hero End */
