* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #ffffff94;
}

html {
    overflow: hidden;
}

.cloud {
    margin-top: -8rem;
    margin-left: -7rem;
}

.cloud2 {
    margin-top: -15rem;
    margin-left: 30rem; 
}
.form-image {
    margin-left: 165px;
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
}
.form-container {
    border-radius: 10px;
    width: 25rem;
    height: 27rem;
    margin-left: 27rem;
    margin-top: -16rem;
    background-color: #FBECB2;
    box-shadow: 1px 1px 6px #716e66;
}

.form-title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-top: -5px;
    text-align: center;
}

.form-input {
    width: 350px;
    height: 36px;
    margin-left: 20px;
    margin-top: 8px;
    border: 2px solid #e1e1e1;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.562);
    border-radius: 5px;
}

.judul {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-left: 170px;
}


.form-textarea {
    width: 350px;
    height: 110px;
    margin-left: 20px;
    margin-top: 19px;
    border: 2px solid #e1e1e1;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.562);
    border-radius: 5px;
}


.isi {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-left: 160px;
    display: block; /* Menjadikan label "isi" sebagai elemen blok */
    margin-top: 10px; /* Mengatur jarak atas dari label "isi" */
}

.form-button {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 159px;
    padding: 10px 16px;
    background-color: #ffd323;
    box-shadow: 3px 2px 2px rgb(249, 175, 0);
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
}

.cit-foot {
   margin-top: 14px;
}

.cit-foot img {
    margin-bottom: -5px;
}

.footer1 {
    background-color: rgb(136, 234, 31);
    width: 80rem;
    height: 4rem;
}


.social-icons {
    position: fixed;
    top: 35rem;
    left: 19rem;
    display: flex;
    align-items: center;
}

.social-icons a {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    text-decoration: none;
    color: #ffffff; /* Ganti dengan warna ikon yang diinginkan */
    transition: black 0.3s, color 0.3s; /* Efek transisi */
}

.social-icons a:hover {
    background-color: white; /* Warna latar saat dihover */
    color: #333; /* Warna ikon saat dihover */
}

.social-icons a i {
    font-size: 18px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
}

.copyright {
    font-family: "Poppins", sans-serif;
    font-weight: small;
    position: fixed;
    bottom: 15px;
    font-size: 20px;
    left: 10px;
    color: rgb(255, 255, 255); /* Ganti dengan warna yang diinginkan */
}

  
@media only screen and (max-width: 768px) {
    .cloud {
        margin-top: -8rem;
        margin-left: -4rem;
    }

    .cloud2 {
        display: none;
    }

    .form-image {
        margin-top: 10px;
        margin-left: 100px;
    }

    .judul {
        line-height: 27px;
        margin-left: 108px;
    }

    .isi {
        margin-left: 95px;
    }

    .form-container {
        width: 90%;
        height: 24rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: -9rem;
    }

    .form-title {
        font-size: 20px;
        margin-left: 100;
    }

    .form-input,
    .form-textarea {
        width: 90%;
        margin-left: 10px;
    }

    .form-textarea {
        margin-top: 8px;
    }

    .form-button {
        margin-left: 100px;
    }

    .cit-foot {
        width: 23rem; /* Sesuaikan lebar gambar */
        height: 3rem;
        margin-top: 20px; /* Sesuaikan dengan kebutuhan untuk menempatkanny */
    }
    .social-icons {
        top: 95%;
        left: 83%;
        transform: translateX(-50%);
    }

    .social-icons a {
        width: 20px;
        height: 20px;
    }

    .footer1 {
        background-color: rgb(136, 234, 31);
        margin-top: 10px;
        padding: 1px;
        text-align: center;
        position: relative;
    }
    .copyright {
        font-size: 13px;
        bottom: 11px;
        left: 33%;
        transform: translateX(-50%);
    }
}